body {
  background-color:#C19A6B;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header-text {
  display: block;
  font-size: 40px;
  color: #ff0000;
  text-align: center;
  border-bottom: 1px solid #e70000;
  position: absolute; /* Add this line to position the element */
  top: 0; /* Add this line to move the element to the top */
  transform: translateY(0%); /* Add this line to center the element vertically */
}


caption.nadpis{
  font-weight: bold;
  letter-spacing: 2px;
  color: #910000;
  font-size: 40px;
}
caption {
  display: table-caption;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, red , white );
}
table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;
  width: 40;
  height: 50%;
}

th, td {
  border: 2px solid #000000;
  border-right: 0px dotted #000000;
  padding: 3px;
  font-size: 25px;
}

th {
  background-color: #f80000;
}

tbody tr:nth-child(even) {
  background: linear-gradient(to left, lightcoral, white, white);
}
body tr:nth-child(odd){
  background: linear-gradient(to right, lightcoral, white, white);
}
img.albert {
  width: 20%;
  height: auto;
}
ul {
  color:black;
  font-size: 20px;
  list-style-type: square;
  position: absolute;
  top: 10%;
  transform: translateY(-50%); /* Add this line to center the element vertically */
}
